.THIS {
    
    background-color:token(bg);
    font-size:token(size1);
    color:token(color1);
}
.THIS .a1
{
    background-color:token(bg);
    font-size:token(size2);
    color:token(color2);
}
.THIS .b1
{
    background-color:token(bg1);
    font-size:token(size3);
    color:token(color3);
}
.THIS .c1
{
    background-color:token(bg2);
    font-size:token(size4);
     color:token(color4);
}