.THIS {
    
    background-color:#DA70D6;
    font-size:20px;
    color: #5F9;
}
.THIS .a1
{
    background-color:#98FB98;
    font-size:30px;
    color: #00F;
}
.THIS .b1
{
    background-color:#DA70D6;
    font-size:40px;
    color: #D26;
}
.THIS .c1
{
     color: #A9A;
    background-color:#98FB98;
    font-size:50px;
   
}